.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    font-size: 13px;
    background-color: #F0F2F3;
    color: var(--color-text-gray);
    .links {
        a {
            color: var(--color-text-gray);
            text-decoration: none;
            margin-right: 12px;
            &:hover {
                color: #E00000;
            }
        }
    }
}